  <!-- Fix this with styling -->
<br><br><br>
<header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <span class="navbar-brand mb-0 h1">
      Angular Flickr App
    </span>
  </nav>
</header>

<main role="main" class="container">
  <div class="jumbotron">
    <h1 class="display-4">Hello, time to flick?</h1>
    <p class="lead">Search Flickr using this app, it'll give you cards.</p>
    <p><small>A notice, this consumes the <strong>public</strong> flickr API, content varies dramatically...</small></p>
    <hr class="my-4">
    <p class="lead text-center">
      <app-search (update)="tagsUpdate($event)" (refresh)="getFlickrImages()"></app-search>
    </p>
  </div>

  <br>

  <div class="container">
    <app-images [images]="flickrImages"></app-images>
  </div>
</main>

<br><br>

<footer class="footer">
  <div class="container">
    <span class="text-muted">Elliot Massey, <a href="https://github.com/elliotcmassey/angular-flickr-app" target="_blank">Source</a> </span>
  </div>
</footer>
